<style>
    @import url('https://fonts.googleapis.com/css?family=Sura:700&display=swap');
    </style>
<div class="navbar navbar-inverse" style="background: red; border: none;" role="navigation">
        <div class="container" style="height: 100px; padding-top: 30px"> 
            <div class="navbar-header">
                <a class="navbar-brand" style="color: white; font-weight: bold; font-family:'Sura', serif; font-size: 40px" href="">TRIBUNE</a>
                <a class="navbar-brand" style="color: black;" href="https://edition.cnn.com/world" target="_self">World</a>
                <a class="navbar-brand" style="color: black;" href="https://www.bloomberg.com/" target="_self">Business</a>
                <a class="navbar-brand" style="color: black;" href="https://www.eonline.com/news" target="_self">Entertainment</a>
                <a class="navbar-brand" style="color: black;" href="https://www.bbc.com/sport" target="_blank">Sports</a>
            </div>
            <br>
            <form class="form-inline my-2 my-lg-0" style="margin-left: 100px">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Articles Here..." aria-label="Search" name="article_name">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
        </div>
</div>




